@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Calc Service Demonstration</h1>
    <ul>
        <li><a asp-area="" asp-controller="CalcDemonstration" asp-action="PassUsingModel"> Using Model Calc </a></li>
    </ul>
</div>
